.hidden {
    display: none;
}

body {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    background-image: url(../images/fruit_background.jpg);
    background-size: cover;
}

#logo {
    width: 25vw;
    display: flex;
    margin: 0 auto;
}

#fruits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#fruits svg {
    height: 150px;
    margin: 25px 120px;
}

/* Grapefruit */
#Grapefruit:hover ~ #logo {
    fill: #f15b57;
}

#Grapefruit:hover {
    transform: rotate(720deg);
    transition-duration: 2s;
}

/* Orange */
#Orange:hover ~ #logo {
    fill: #eeb348;
}

#Orange:hover {
    filter: drop-shadow(5px 5px 10px gray);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#Orange:hover .org-2, #Orange:hover .org-3  {
    transform: rotate(360deg);
    transition-duration: 2s;
}

/* Pineapple */
#Pineapple:hover ~ #logo {
    fill: #ffcc4d;
}

@keyframes bouncy {
    0%, 100% { 
        transform: translateY(0); 
    }
    50% { 
        transform: translateY(-20px); 
    }
}

@keyframes reversey1 {
    0%, 100% { 
        fill: #ffcc4d;
    }
    50% { 
        fill: #5d913f;
    }
}

@keyframes reversey2 {
    0%, 100% { 
        fill: #5d913f;
    }
    50% { 
        fill: #ffcc4d;
    }
}

#Pineapple:hover {
    animation: bouncy 0.5s ease-out infinite;
}

#Pineapple:hover .pine-2 {
    animation: reversey1 0.5s ease-out infinite;
}

#Pineapple:hover .pine-3 {
    animation: reversey2 0.5s ease-out infinite;
}

/* Lime */
#Lime:hover ~ #logo {
    fill: #88c057;
}

@keyframes wobbly {
    0%, 100% { 
        transform: rotate(-5deg); 
    }
    50% { 
        transform: rotate(5deg); 
    }
}

#Lime:hover {
    animation: wobbly 0.5s ease infinite;
}

/* Blueberry */
#Blueberry:hover ~ #logo {
    fill: #5b65ae;
}

@keyframes squishy {
    0%, 100% {
        transform: scaleY(1) scaleX(1);
    }
    25% {
        transform: scaleY(0.5) scaleX(1.2);
    }
    50% {
        transform: scaleY(1) scaleX(0.5);
    }
    75% {
        transform: scaleY(0.5) scaleX(1.2);
    }
}

#Blueberry:hover {
    animation: squishy 1s ease-in-out infinite;
}

/* Passion Fruit */
#Passion_Fruit:hover ~ #logo {
    fill: #cf1d61;
}

#Passion_Fruit:hover {
    transform: rotateY(180deg);
    transition: transform 2s ease;
}

#Passion_Fruit:hover .passion-2, #Passion_Fruit:hover .passion-4, #Passion_Fruit:hover .passion-6 {
    transition-delay: 0.6s;
    fill: #cf1d61;
}
